# Ignore .DS_Store files
.DS_Store
.env

drafts/

# Ignore __pycache__ directories
__pycache__

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
*.mp4
*.h5
*.joblib
*.npy
*/keyfile.json

# Ignore virtual environment directories
.venv/

# Ignore log files
*.log

# Ignore compiled code files
*.so
*.dylib
*.exe
*.dll

# Ignore editor and IDE files
.idea/
.vscode/
*.sublime*
*.emacs*
